In [145]:
import numpy as np
import pandas as pd

In [157]:
#incarceration rates from 2001-2016
incarceration= pd.read_csv("crime_and_incarceration_by_state.csv")
incarceration = incarceration.rename(columns={"jurisdiction":"State"})

#Capitalize all states to follow the format of other datasets
for (i, state) in incarceration["State"].iteritems():
    new = state.capitalize()
    incarceration.at[i,"State"] = new
incarceration

,State,year,prisoner_count,state_population,incarceration rate (%)
0,Alabama,2001,24741,4468912.0,0.553624685
1,Alaska,2001,4570,633630.0,0.721241103
2,Arizona,2001,27710,5306966.0,0.522143914
3,Arkansas,2001,11489,2694698.0,0.426355755
4,California,2001,157142,34600463.0,0.454161553
...,...,...,...,...,...
795,Virginia,2016,29882,8414380.0,0.355130146
796,Washington,2016,17228,7280934.0,0.236617994
797,West virginia,2016,5899,1828637.0,0.322589995
798,Wisconsin,2016,23163,5772917.0,0.401235632
799,Wyoming,2016,2352,584910.0,0.402113146

In [204]:
#drug overdose rate from 1999-2017
drug= pd.read_csv("Drug_Poisoning_Mortality_by_State.csv")
#drop unneeded columns
drug = drug.drop(["Sex","Age Group","Race and Hispanic Origin", "Crude Death Rate",
"Standard Error for Crude Rate","Low Confidence Limit for Crude Rate","Upper Confidence Limit for Crude Rate",
"Standard Error Age-adjusted Rate","Lower Confidence Limit for Age-adjusted Rate","Upper Confidence for Age-adjusted Rate",
"State Crude Rate in Range","US Crude Rate","US Age-adjusted Rate",
"Unit"], axis = 1)

states = drug["State"]
for i in range(len(drug)):
    if states[i] == "District of Columbia":
         drug = drug.drop([i])
    if states[i] == "United States":
        drug = drug.drop([i])
drug

#to match incareration data set
drug2 = drug[drug['Year']>2000]
drug2 = drug2[drug2['Year']<2017]
drug2

        State  Year  Deaths  Population  Age-adjusted Rate
0     Alabama  1999     169     4430143             3.8521
1     Alabama  2000     197     4447100             4.4857
2     Alabama  2001     216     4467634             4.8915
3     Alabama  2002     211     4480089             4.7619
4     Alabama  2003     197     4503491             4.4333
...       ...   ...     ...         ...                ...
3016  Wyoming  2013      98      582658            17.2422
3017  Wyoming  2014     109      584153            19.3823
3018  Wyoming  2015      96      586107            16.4454
3019  Wyoming  2016      99      585501            17.5871
3020  Wyoming  2017      69      579315            12.2040

[950 rows x 5 columns]

In [205]:
#unemployment rates from 1980-2018
unemployment= pd.read_csv("unemployment_rate.csv")
#drop unneeded years data
unemployment= unemployment.drop(["Fips", "1980", "1981", "1982", "1983", "1984", "1985", "1986",
        "1987", "1988", "1989", "1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998"],axis=1)
unemployment = unemployment.rename(columns={"Area":"State"})
unemployment = unemployment.drop([8,51,52,53])
unemployment.head(10)

#of len 20 (num of years), new col for state names
new = []
for i in range(50):
    for x in range(20):
        new.append(unemployment["State"].iloc[i])
new

years = unemployment.iloc[:,1:]
years = years.transpose()
years

#single unemployment rate col
un = []
for i in range(20):
    un.append(years.iloc[i].tolist())  
un

unemploy = []
for sublist in un:
    for item in sublist:
        unemploy.append(item)
unemploy

#col of years
yr = [2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999]
yr2 = []
for i in range(50):
    yr2.append(yr)  
yr2

year = []
for sublist in yr2:
    for item in sublist:
        year.append(item)
year

#combining
finalunemployment = pd.DataFrame({"State": new, "Year": year,"Unemployment Rate" :unemploy})
finalunemployment = finalunemployment[finalunemployment["Year"]<2018]

#to match incarceraton data
un2 = finalunemployment[finalunemployment['Year']>2000]
un2 = un2[un2['Year']<2017]
un2

2      Alabama
3      Alabama
4      Alabama
5      Alabama
6      Alabama
        ...
993    Wyoming
994    Wyoming
995    Wyoming
996    Wyoming
997    Wyoming
Name: State, Length: 800, dtype: object

In [174]:
#median income from 1984-2018
income= pd.read_csv("income_fixed.csv")
#drop uneeded years
income= income.drop(["1984 (19)", "1985 (20)", "1986",
        "1987 (21)", "1988", "1989", "1990", "1991", "1992 (22)", "1993 (23)", "1994 (24)", "1995 (25)",
        "1996", "1997", "1998", "2013 (39)"],axis=1)
income = income.rename(columns={"2004(revised)":"2004"})
income = income.rename(columns={"2000 (30)":"2000"})
income = income.rename(columns={"1999 (29)":"1999"})
income = income.rename(columns={"2013 (38)":"2013"})
income = income.rename(columns={"2010 (37)":"2010"})
income = income.rename(columns={"2009 (36)": "2009"})
income = income.drop([8])
#change to wide data
#new state column (this matches the number of years so we need to figure out the specific date range)
#need to drop DC row

years = income.iloc[:,1:]
years = years.transpose()
years

#stack all 0-51 on each other for single col of income
income2 = []
for i in range(20):
    income2.append(years.iloc[i].tolist())  
income2

flat_list = []
for sublist in income2:
    for item in sublist:
        flat_list.append(item)
flat_list

#combining cols
finalincome = pd.DataFrame({"State": new, "Year": year,"Median Income" :flat_list})
finalincome = finalincome[finalincome["Year"]<2018]
finalincome

#to match incarceration data
in2 = finalincome[finalincome['Year']>2000]
in2 = in2[in2['Year']<2017]
in2

       State  Year Median Income
2    Alabama  2016        62,283
3    Alabama  2015        49,781
4    Alabama  2014        70,489
5    Alabama  2013        73,034
6    Alabama  2012        72,812
..       ...   ...           ...
993  Wyoming  2005        46,050
994  Wyoming  2004        41,584
995  Wyoming  2003        45,693
996  Wyoming  2002        45,473
997  Wyoming  2001        29,297

[800 rows x 3 columns]

In [150]:
#merging data
#dataframe 1: with all above data (drug2, un2,in2, incarceration)

#dataframe 2: without incarceration data (drug, finalunemployment, finalincome) 1999-2017