In [1]:
import numpy as np
import pandas as pd

In [72]:
#incarceration rates from 2001-2016
incarceration= pd.read_csv("crime_and_incarceration_by_state.csv")
incarceration = incarceration.rename(columns={"jurisdiction":"State"})

#Capitalize all states to follow the format of other datasets
for (i, state) in incarceration["State"].iteritems():
    new = state.capitalize()
    incarceration.at[i,"State"] = new
incarceration.head()

        State  year  prisoner_count  state_population incarceration rate (%)
0     Alabama  2001           24741         4468912.0            0.553624685
1      Alaska  2001            4570          633630.0            0.721241103
2     Arizona  2001           27710         5306966.0            0.522143914
3    Arkansas  2001           11489         2694698.0            0.426355755
4  California  2001          157142        34600463.0            0.454161553

In [13]:
#drug overdose rate from 1999-2017
drug= pd.read_csv("Drug_Poisoning_Mortality_by_State.csv")
#drop unneeded columns
drug = drug.drop(["Sex","Age Group","Race and Hispanic Origin", "Crude Death Rate",
"Standard Error for Crude Rate","Low Confidence Limit for Crude Rate","Upper Confidence Limit for Crude Rate",
"Standard Error Age-adjusted Rate","Lower Confidence Limit for Age-adjusted Rate","Upper Confidence for Age-adjusted Rate",
"State Crude Rate in Range","US Crude Rate","US Age-adjusted Rate",
"Unit"], axis = 1)
drug.head()

     State  Year  Deaths  Population  Age-adjusted Rate
0  Alabama  1999     169     4430143             3.8521
1  Alabama  2000     197     4447100             4.4857
2  Alabama  2001     216     4467634             4.8915
3  Alabama  2002     211     4480089             4.7619
4  Alabama  2003     197     4503491             4.4333

In [32]:
#unemployment rates from 1980-2018
unemployment= pd.read_csv("unemployment_rate.csv")
#drop unneeded years data
unemployment= unemployment.drop(["Fips", "1980", "1981", "1982", "1983", "1984", "1985", "1986",
        "1987", "1988", "1989", "1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998"],axis=1)
unemployment = unemployment.rename(columns={"Area":"State"})
unemployment.head(10)

,State,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Alabama,4.7,4.6,5.1,5.9,6.0,5.7,4.5,4.0,4.0,...,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4,3.9
1,Alaska,6.5,6.4,6.4,7.3,7.8,7.5,6.9,6.6,6.3,...,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0,6.6
2,Arizona,4.4,4.0,4.8,6.1,5.7,5.0,4.7,4.2,3.9,...,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9,4.8
3,Arkansas,4.6,4.3,5.0,5.5,5.9,5.7,5.2,5.2,5.3,...,7.8,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7,3.7
4,California,5.2,4.9,5.4,6.7,6.8,6.2,5.4,4.9,5.4,...,11.2,12.2,11.7,10.4,8.9,7.5,6.2,5.5,4.8,4.2
5,Colorado,3.1,2.8,3.8,5.5,6.0,5.5,5.0,4.3,3.7,...,7.3,8.7,8.4,7.9,6.9,5.0,3.9,3.2,2.7,3.3
6,Connecticut,2.9,2.4,3.1,4.3,5.4,5.0,4.9,4.3,4.5,...,7.9,9.1,8.8,8.3,7.8,6.6,5.7,5.1,4.7,4.1
7,Delaware,3.4,3.7,3.5,4.0,4.3,4.0,4.1,3.6,3.4,...,8.3,8.4,7.5,7.2,6.7,5.7,4.9,4.5,4.5,3.8
8,District of Columbia,6.4,5.6,6.3,6.4,6.8,7.8,6.4,5.8,5.5,...,9.3,9.4,10.2,9.0,8.5,7.8,6.9,6.1,6.1,5.6
9,Florida,3.9,3.7,4.7,5.6,5.2,4.6,3.7,3.2,4.0,...,10.4,11.1,10.0,8.5,7.2,6.3,5.5,4.8,4.2,3.6

In [30]:
#median income from 1984-2018
income= pd.read_csv("income_fixed.csv")
#drop uneeded years
income= income.drop(["1984 (19)", "1985 (20)", "1986",
        "1987 (21)", "1988", "1989", "1990", "1991", "1992 (22)", "1993 (23)", "1994 (24)", "1995 (25)",
        "1996", "1997", "1998", "2013 (39)"],axis=1)
income = income.rename(columns={"2004(revised)":"2004"})
income = income.rename(columns={"2000 (30)":"2000"})
income = income.rename(columns={"1999 (29)":"1999"})
income = income.rename(columns={"2013 (38)":"2013"})
income = income.rename(columns={"2010 (37)":"2010"})
income = income.rename(columns={"2009 (36)": "2009"})

#change to wide data

income.head()

,State,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
0,Alabama,"49,936","51,113","47,221","44,509","42,278","41,381","43,464","42,590","40,933",...,"44,476","42,212","37,952","37,150","36,629","37,255","37,603","35,160","35,424","36,251"
1,Alaska,"68,734","72,231","75,723","75,112","67,629","61,137","63,648","57,431","57,848",...,"63,989","62,993","56,418","55,891","55,063","51,837","52,774","57,363","52,847","51,396"
2,Arizona,"62,283","61,125","57,100","52,248","49,254","50,602","47,044","48,621","46,896",...,"46,914","47,215","46,657","45,245","43,846","41,166","39,734","42,704","39,783","36,995"
3,Arkansas,"49,781","48,829","45,907","42,798","44,922","39,919","39,018","41,302","38,587",...,"39,586","40,795","37,057","36,658","34,984","32,002","32,387","33,339","29,697","29,682"
4,California,"70,489","69,759","66,637","63,636","60,487","57,528","57,020","53,367","54,283",...,"57,014","55,734","55,319","51,755","49,222","49,300","47,437","47,262","46,816","43,629"