In [2]:
import numpy as np
import pandas as pd

In [8]:
incarceration= pd.read_csv("crime_and_incarceration_by_state.csv")
incarceration.head()

  jurisdiction  year  prisoner_count  state_population incarceration rate (%)
0      ALABAMA  2001           24741         4468912.0            0.553624685
1       ALASKA  2001            4570          633630.0            0.721241103
2      ARIZONA  2001           27710         5306966.0            0.522143914
3     ARKANSAS  2001           11489         2694698.0            0.426355755
4   CALIFORNIA  2001          157142        34600463.0            0.454161553

In [7]:
drug= pd.read_csv("NCHS_-_Drug_Poisoning_Mortality_by_State__United_States.csv")
drug.head()

,State,Year,Sex,Age Group,Race and Hispanic Origin,Deaths,Population,Crude Death Rate,Standard Error for Crude Rate,Low Confidence Limit for Crude Rate,Upper Confidence Limit for Crude Rate,Age-adjusted Rate,Standard Error Age-adjusted Rate,Lower Confidence Limit for Age-adjusted Rate,Upper Confidence for Age-adjusted Rate,State Crude Rate in Range,US Crude Rate,US Age-adjusted Rate,Unit
0,Alabama,1999,Both Sexes,All Ages,All Races-All Origins,169,4430143,3.8148,0.29344,3.2396,4.3899,3.8521,0.29657,3.2708,4.4334,1.8–7.2,6.0382,6.0570,"per 100,000 population"
1,Alabama,2000,Both Sexes,All Ages,All Races-All Origins,197,4447100,4.4299,0.31561,3.8112,5.0485,4.4857,0.31985,3.8588,5.1126,1.8–7.2,6.1882,6.1749,"per 100,000 population"
2,Alabama,2001,Both Sexes,All Ages,All Races-All Origins,216,4467634,4.8348,0.32896,4.1900,5.4795,4.8915,0.33329,4.2382,5.5447,1.8–7.2,6.8057,6.7922,"per 100,000 population"
3,Alabama,2002,Both Sexes,All Ages,All Races-All Origins,211,4480089,4.7097,0.32423,4.0742,5.3452,4.7619,0.32868,4.1177,5.4062,1.8–7.2,8.1766,8.1957,"per 100,000 population"
4,Alabama,2003,Both Sexes,All Ages,All Races-All Origins,197,4503491,4.3744,0.31166,3.7635,4.9852,4.4333,0.31701,3.8120,5.0547,1.8–7.2,8.8881,8.8765,"per 100,000 population"

In [12]:
unemployment= pd.read_csv("old_data/Nationial_Unemployment.csv")
unemployment.head(10)

,"Unemployment and median household income for the U.S., States, and counties, 2007-18",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,Sources: Unemployment: U.S. Bureau of Labor St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"For definitions of rural classifications, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"This table was prepared by USDA, Economic Rese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
4,00000,US,United States,NaN,NaN,NaN,"152,191,093","145,156,134","7,034,959",4.6,...,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9,"$61,937",NaN
5,01000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9,"$49,881",100.0
6,01001,AL,"Autauga County, AL",2,2,1,"24,383","23,577",806,3.3,...,25972,24958,1014,3.9,"25,957","25,015",942,3.6,"$59,338",119.0
7,01003,AL,"Baldwin County, AL",3,2,1,"82,659","80,099","2,560",3.1,...,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6,"$57,588",115.5
8,01005,AL,"Barbour County, AL",6,6,0,"10,334","9,684",650,6.3,...,8317,7831,486,5.8,"8,373","7,940",433,5.2,"$34,382",68.9
9,01007,AL,"Bibb County, AL",1,1,1,"8,791","8,432",359,4.1,...,8550,8174,376,4.4,"8,661","8,317",344,4.0,"$46,064",92.3

In [14]:
income= pd.read_csv("income/income.csv")
income.head(10)

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Table H-8. Median Household Income by State: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Households as of March of the following year....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CURRENT DOLLARS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,2018,NaN,2017 (40),NaN,2017,NaN,2016,NaN,2015,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
4,NaN,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,...,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror
5,United States,"63,179",420,"61,136",322,"61,372",335,"59,039",436,"56,516",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
6,Alabama,"49,936","2,423","50,865","1,094","51,113",845,"47,221","2,301","44,509",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
7,Alaska,"68,734","3,390","77,987","3,718","72,231","2,719","75,723","4,086","75,112",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
8,Arizona,"62,283","2,291","59,700","2,689","61,125","2,642","57,100","1,971","52,248",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609
9,Arkansas,"49,781","2,108","49,751","2,491","48,829","2,642","45,907","2,165","42,798",...,"20,172",706,"18,827","1,008","18,730",765,"17,451",764,"15,674",748