In [1]:
import numpy as np
import pandas as pd

In [40]:
#incarceration rates from 2001-2016
incarceration= pd.read_csv("crime_and_incarceration_by_state.csv")
incarceration = incarceration.rename(columns={"jurisdiction":"State"})

#Capitalize all states to follow the format of other datasets
for (i, state) in incarceration["State"].iteritems():
    lst = state.split() #capitalize()
    fixed= []
    for word in lst:
        word= word.capitalize()
        fixed.append(word)
    new= " ".join(fixed)
    incarceration.at[i,"State"] = new

incarceration= incarceration.rename(columns={"year": "Year"})  
incarceration= incarceration.drop("state_population", axis=1)
incarceration.groupby('State', as_index=False)
incarceration.tail(50)

              State  Year  prisoner_count incarceration rate (%)
750         Alabama  2016           23745            0.488525464
751          Alaska  2016            4378            0.590407297
752         Arizona  2016           42248            0.611523943
753        Arkansas  2016           15833             0.52984525
754      California  2016          129416             0.32933233
755        Colorado  2016           19486            0.352362207
756     Connecticut  2016           15040            0.419211832
757        Delaware  2016            6334            0.664848672
758         Florida  2016           98010            0.474473302
759         Georgia  2016           53433            0.518081915
760          Hawaii  2016            5182            0.362711672
761           Idaho  2016            7221            0.429814777
762        Illinois  2016           43616            0.339801582
763         Indiana  2016           25143             0.37900171
764            Iowa  2016            9049            0.289025188
765          Kansas  2016            9653            0.331977064
766        Kentucky  2016           11867            0.267508966
767       Louisiana  2016           15059            0.321350736
768           Maine  2016            2356            0.177111962
769        Maryland  2016           20236            0.335881045
770   Massachusetts  2016            9038            0.132449729
771        Michigan  2016           41122            0.413975212
772       Minnesota  2016            9509             0.17210704
773     Mississippi  2016           13720            0.459567598
774        Missouri  2016           32427            0.532360254
775         Montana  2016            3199            0.307994177
776        Nebraska  2016            5167            0.270863487
777          Nevada  2016           13932            0.473997824
778   New Hampshire  2016            2599            0.194679461
779      New Jersey  2016           19458            0.216719742
780      New Mexico  2016            6996            0.335470061
781        New York  2016           50611            0.255143528
782  North Carolina  2016           35970            0.354150846
783    North Dakota  2016            1639             0.21692864
784            Ohio  2016           52172            0.448885847
785        Oklahoma  2016           26367            0.672420507
786          Oregon  2016           14579            0.356804681
787    Pennsylvania  2016           48287            0.377623203
788    Rhode Island  2016            2887            0.272985327
789  South Carolina  2016           20376            0.410821195
790    South Dakota  2016            3770            0.437587488
791       Tennessee  2016           21539            0.323923768
792           Texas  2016          151276            0.542113414
793            Utah  2016            4502            0.147881909
794         Vermont  2016            1735            0.278333018
795        Virginia  2016           29882            0.355130146
796      Washington  2016           17228            0.236617994
797   West Virginia  2016            5899            0.322589995
798       Wisconsin  2016           23163            0.401235632
799         Wyoming  2016            2352            0.402113146

In [22]:
#drug overdose rate from 1999-2017
drug= pd.read_csv("Drug_Poisoning_Mortality_by_State.csv")
#drop unneeded columns
drug = drug.drop(["Sex","Age Group","Race and Hispanic Origin", "Crude Death Rate",
"Standard Error for Crude Rate","Low Confidence Limit for Crude Rate","Upper Confidence Limit for Crude Rate",
"Standard Error Age-adjusted Rate","Lower Confidence Limit for Age-adjusted Rate","Upper Confidence for Age-adjusted Rate",
"State Crude Rate in Range","US Crude Rate","US Age-adjusted Rate",
"Unit"], axis = 1)
drug= drug.rename(columns={"Age-adjusted Rate":"Overdose Rate"})

states = drug["State"]
for i in range(len(drug)):
    if states[i] == "District of Columbia":
         drug = drug.drop([i])
    if states[i] == "United States":
        drug = drug.drop([i])
drug

#to match incareration data set
drug2 = drug[drug['Year']>2000]
drug2 = drug2[drug2['Year']<2017]
drug2

        State  Year  Deaths  Population  Overdose Rate
2     Alabama  2001     216     4467634         4.8915
3     Alabama  2002     211     4480089         4.7619
4     Alabama  2003     197     4503491         4.4333
5     Alabama  2004     283     4530729         6.3542
6     Alabama  2005     283     4569805         6.3330
...       ...   ...     ...         ...            ...
3015  Wyoming  2012      98      576412        16.7507
3016  Wyoming  2013      98      582658        17.2422
3017  Wyoming  2014     109      584153        19.3823
3018  Wyoming  2015      96      586107        16.4454
3019  Wyoming  2016      99      585501        17.5871

[800 rows x 5 columns]

In [4]:
#unemployment rates from 1980-2018
unemployment= pd.read_csv("unemployment_rate.csv")
#drop unneeded years data
unemployment= unemployment.drop(["Fips", "1980", "1981", "1982", "1983", "1984", "1985", "1986",
        "1987", "1988", "1989", "1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998"],axis=1)
unemployment = unemployment.rename(columns={"Area":"State"})
unemployment = unemployment.drop([8,51,52,53])
unemployment.head(10)

#of len 20 (num of years), new col for state names
new = []
for i in range(50):
    for x in range(20):
        new.append(unemployment["State"].iloc[i])
#new

years = unemployment.iloc[:,1:]
years = years.transpose()
years

#single unemployment rate col
un = []
for i in range(20):
    un.append(years.iloc[i].tolist())  
#un

unemploy = []
for sublist in un:
    for item in sublist:
        unemploy.append(item)
#unemploy

#col of years
yr = [2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999]
yr2 = []
for i in range(50):
    yr2.append(yr)  
#yr2

year = []
for sublist in yr2:
    for item in sublist:
        year.append(item)
#year

#combining
finalunemployment = pd.DataFrame({"State": new, "Year": year,"Unemployment Rate" :unemploy})
finalunemployment = finalunemployment[finalunemployment["Year"]<2018]

#to match incarceraton data
un2 = finalunemployment[finalunemployment['Year']>2000]
un2 = un2[un2['Year']<2017]
un2

       State  Year  Unemployment Rate
2    Alabama  2016                4.4
3    Alabama  2015                4.6
4    Alabama  2014                5.2
5    Alabama  2013                3.1
6    Alabama  2012                2.9
..       ...   ...                ...
993  Wyoming  2005                3.1
994  Wyoming  2004                2.7
995  Wyoming  2003                3.0
996  Wyoming  2002                4.5
997  Wyoming  2001                5.3

[800 rows x 3 columns]

In [5]:
#median income from 1984-2018
income= pd.read_csv("income_fixed.csv")
#drop uneeded years
income= income.drop(["1984 (19)", "1985 (20)", "1986",
        "1987 (21)", "1988", "1989", "1990", "1991", "1992 (22)", "1993 (23)", "1994 (24)", "1995 (25)",
        "1996", "1997", "1998", "2013 (39)"],axis=1)
income = income.rename(columns={"2004(revised)":"2004"})
income = income.rename(columns={"2000 (30)":"2000"})
income = income.rename(columns={"1999 (29)":"1999"})
income = income.rename(columns={"2013 (38)":"2013"})
income = income.rename(columns={"2010 (37)":"2010"})
income = income.rename(columns={"2009 (36)": "2009"})
income = income.drop([8])
#change to wide data
#new state column (this matches the number of years so we need to figure out the specific date range)
#need to drop DC row

years = income.iloc[:,1:]
years = years.transpose()
years

#stack all 0-51 on each other for single col of income
income2 = []
for i in range(20):
    income2.append(years.iloc[i].tolist())  
income2

flat_list = []
for sublist in income2:
    for item in sublist:
        flat_list.append(item)
flat_list

#combining cols
finalincome = pd.DataFrame({"State": new, "Year": year,"Median Income" :flat_list})
finalincome = finalincome[finalincome["Year"]<2018]
finalincome

#to match incarceration data
in2 = finalincome[finalincome['Year']>2000]
in2 = in2[in2['Year']<2017]
in2

       State  Year Median Income
2    Alabama  2016        62,283
3    Alabama  2015        49,781
4    Alabama  2014        70,489
5    Alabama  2013        73,034
6    Alabama  2012        72,812
..       ...   ...           ...
993  Wyoming  2005        46,050
994  Wyoming  2004        41,584
995  Wyoming  2003        45,693
996  Wyoming  2002        45,473
997  Wyoming  2001        29,297

[800 rows x 3 columns]

In [41]:
#merging data
#dataframe 1: with all above data (drug2, un2,in2, incarceration)
new_df = pd.merge(drug2, un2,  how='left', left_on=['State','Year'], right_on = ['State','Year'])
new_df = pd.merge(new_df, in2,  how='left', left_on=['State','Year'], right_on = ['State','Year'])
new_df = pd.merge(new_df, incarceration,  how='inner', left_on=['State','Year'], right_on = ['State','Year'])
new_df.tail(50)
#incarceration rate data has some missing values

,State,Year,Deaths,Population,Overdose Rate,Unemployment Rate,Median Income,prisoner_count,incarceration rate (%)
750,Washington,2015,1094,7170351,14.7417,5.1,"34,299",17222,0.2401835
751,Washington,2016,1102,7288000,14.5105,3.4,"54,251",17228,0.236617994
752,West Virginia,2001,206,1801481,11.4696,3.8,"46,628",3403,0.188953206
753,West Virginia,2002,229,1805414,12.9455,4.1,"50,593",3575,0.198073671
754,West Virginia,2003,262,1812295,15.1210,3.3,"48,177",3790,0.209225809
755,West Virginia,2004,333,1816438,18.8017,4.2,"43,629",3990,0.220132101
756,West Virginia,2005,184,1820492,10.5007,3.7,"29,682",4036,0.222481551
757,West Virginia,2006,362,1827912,20.3521,4.8,"36,995",4367,0.240146937
758,West Virginia,2007,397,1834052,22.4483,6.6,"51,396",4907,0.270800509
759,West Virginia,2008,459,1840310,25.7420,3.9,"36,251",4896,0.269831157
760,West Virginia,2009,226,1847775,12.4329,4.2,"39,629",5062,0.278165951
761,West Virginia,2010,512,1852994,28.8855,3.3,"45,088",5072,0.273516368
762,West Virginia,2011,635,1855364,36.2896,5.2,"29,411",5149,0.277587891
763,West Virginia,2012,558,1855413,32.0021,4.7,"42,525",5335,0.287340845
764,West Virginia,2013,570,1854304,32.1989,3.7,"47,163",5708,0.307942134
765,West Virginia,2014,627,1850326,35.5052,3.0,"39,594",5867,0.317079261
766,West Virginia,2015,725,1844128,41.4936,3.3,"47,550",5925,0.321290062
767,West Virginia,2016,884,1831102,52.0211,4.3,"38,609",5899,0.322589995
768,Wisconsin,2001,269,5406835,4.9719,4.6,"41,461",20766,0.384132512
769,Wisconsin,2002,340,5445162,6.1875,2.8,"38,626",21666,0.398294609
770,Wisconsin,2003,383,5479203,6.9900,3.7,"31,038",22153,0.404673483
771,Wisconsin,2004,437,5514026,7.8581,3.2,"41,383",22152,0.402505082
772,Wisconsin,2005,518,5546166,9.3367,4.8,"32,478",21921,0.396570401
773,Wisconsin,2006,593,5577655,10.6366,2.9,"47,038",22564,0.406082527
774,Wisconsin,2007,622,5610775,11.0976,4.1,"46,089",22839,0.407719882
775,Wisconsin,2008,606,5640996,10.6039,3.3,"44,005",22282,0.395915612
776,Wisconsin,2009,631,5669264,10.9348,3.9,"52,205",22262,0.393685053
777,Wisconsin,2010,630,5686986,10.9422,3.4,"38,862",22033,0.387110331
778,Wisconsin,2011,698,5711767,12.0766,4.9,"32,654",22388,0.392094844
779,Wisconsin,2012,692,5726398,12.2266,4.3,"33,738",22419,0.391628763
780,Wisconsin,2013,856,5742713,15.0285,3.4,"37,348",22443,0.390791985
781,Wisconsin,2014,853,5757564,15.0648,2.5,"41,098",22572,0.392040801
782,Wisconsin,2015,878,5771337,15.4719,3.4,"40,838",22914,0.397031052
783,Wisconsin,2016,1074,5778708,19.2873,4.3,"46,330",23163,0.401235632
784,Wyoming,2001,22,494657,4.5032,5.3,"29,297",1487,0.301162117
785,Wyoming,2002,34,500017,6.9214,4.5,"45,473",1641,0.328969789
786,Wyoming,2003,30,503453,5.9028,3.0,"45,693",1630,0.324629415
787,Wyoming,2004,46,509106,9.0935,2.7,"41,584",1765,0.348892144
788,Wyoming,2005,26,514157,4.9027,3.1,"46,050",2096,0.411951305
789,Wyoming,2006,55,522667,10.5619,3.9,"38,688",2035,0.395142562
790,Wyoming,2007,63,534876,12.2666,3.5,"36,522",1927,0.368571046
791,Wyoming,2008,74,546043,14.0453,3.0,"35,828",1704,0.319899074
792,Wyoming,2009,60,559851,10.9508,3.4,"36,462",1743,0.320245466
793,Wyoming,2010,85,563626,14.9556,4.1,"42,719",2092,0.370557998
794,Wyoming,2011,85,568158,15.2082,4.3,"37,758",2162,0.381065856
795,Wyoming,2012,98,576412,16.7507,4.2,"40,619",2187,0.379275301
796,Wyoming,2013,98,582658,17.2422,3.4,"32,683",2288,0.392302773
797,Wyoming,2014,109,584153,19.3823,4.6,"39,489",2369,0.405544438
798,Wyoming,2015,96,586107,16.4454,2.6,"32,663",2400,0.409481545
799,Wyoming,2016,99,585501,17.5871,3.9,"37,254",2352,0.402113146

In [42]:
#dataframe 2: without incarceration data (drug, finalunemployment, finalincome) 1999-2017
new_df2 = pd.merge(drug, finalunemployment,  how='left', left_on=['State','Year'], right_on = ['State','Year'])
new_df2 = pd.merge(new_df2, finalincome,how='left', left_on=['State','Year'], right_on = ['State','Year'])
new_df2

,State,Year,Deaths,Population,Overdose Rate,Unemployment Rate,Median Income
0,Alabama,1999,169,4430143,3.8521,3.6,"86,223"
1,Alabama,2000,197,4447100,4.4857,4.0,"58,663"
2,Alabama,2001,216,4467634,4.8915,5.1,"49,973"
3,Alabama,2002,211,4480089,4.7619,4.5,"54,555"
4,Alabama,2003,197,4503491,4.4333,3.3,"63,938"
...,...,...,...,...,...,...,...
945,Wyoming,2013,98,582658,17.2422,3.4,"32,683"
946,Wyoming,2014,109,584153,19.3823,4.6,"39,489"
947,Wyoming,2015,96,586107,16.4454,2.6,"32,663"
948,Wyoming,2016,99,585501,17.5871,3.9,"37,254"
949,Wyoming,2017,69,579315,12.2040,4.1,"39,989"